<div class="container" style="margin:7%">
  <h1>Personal Information:</h1>
  <form role="form" name="myForm" novalidate>
    <div class="form-group">
      <label for="myName">Name:</label>
      <input type="text" class="form-control" id="myName" ng-model="myName"  required=""/>
    </span>
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" ng-model="myEmail" required="" />

    </div>
    <div class="form-group">
      <label for="phone">Contact Number:</label>
      <input type="number" class="form-control" id="phone" ng-model="myPhone" required="">
    </div>
    <a ui-sref="links"><button ng-disabled="myForm.$invalid" type="submit" ng-click="save()" class="btn btn-info">Next</button></a>
  </form>
</div>
