<center style="margin:1%"><a ui-sref="#"><button ng-click="load()" class="btn btn-success btn-lg">Review Application</button></a></center>
<div style="margin-left:10%">
      <table>
            <tr>
                  <td>Name</td>
                  <td style="margin:5%"><b>{{dataName}}</b></td>
            </tr>
            <tr>
                  <td>Email</td>
                  <td style="margin:5%"><b>{{dataEmail}}</b></td>
            </tr>
            <tr>
                  <td>Contact Number</td>
                  <td style="margin:5%"><b>{{dataPhone}}</b></td>
            </tr>
            <tr>
                  <td>LinkedIn</td>
                  <td style="margin:5%"><b>{{dataLinkedin}}</b></td>
            </tr>
            <tr>
                  <td>Website / Portfolio</td>
                  <td style="margin:5%"><b>{{dataPort}}</b></td>
            </tr>
            <tr>
                  <td>Git</td>
                  <td style="margin:5%"><b>{{dataGit}}</b></td>
            </tr>

            <tr>
                  <td>Why do you want to work here?</td>
                  <td style="margin:5%"><b>{{dataQue1}}</b></td>
            </tr>
            <tr>
                  <td>Do you have any suggestion to improve our product?</td>
                  <td style="padding:5%"><b>{{dataQue2}}</b></td>
            </tr>
            <tr>
                  <td>Gender</td>
                  <td style="margin:5%"><b>{{dataGender}}</b></td>
            </tr>

      </table>
</div>
