<center style="margin:1%"><a ui-sref="#"><button ng-click="load()" class="btn btn-success btn-lg">Review Application</button></a></center>
<div style="margin-left:10%">
      <table>
            <tr>
                  <td>Name</td>
                  <td>{{dataName}}</td>
            </tr>
            <tr>
                  <td>Email</td>
                  <td>{{dataEmail}}</td>
            </tr>
            <tr>
                  <td>Contact Number</td>
                  <td>{{dataPhone}}</td>
            </tr>
            <tr>
                  <td>LinkedIn</td>
                  <td>{{dataLinkedin}}</td>
            </tr>
            <tr>
                  <td>Website / Portfolio</td>
                  <td>{{dataPort}}</td>
            </tr>
            <tr>
                  <td>Git</td>
                  <td>{{dataGit}}</td>
            </tr>

            <tr>
                  <td>Why do you want to work here?</td>
                  <td>{{dataQue1}}</td>
            </tr>
            <tr>
                  <td>Do you have any suggestion to improve our product?</td>
                  <td>{{dataQue2}}</td>
            </tr>
            <tr>
                  <td>Gender</td>
                  <td>{{dataGender}}</td>
            </tr>

      </table>
</div>
